# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/

# Django
*.sqlite3
db.sqlite3
.env
.env.*
!.env.example
staticfiles/
media/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
